<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common">
    <script type="text/javascript" th:src="@{/assets/libs/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/common.js}"></script>
</div>
<div th:fragment="echarts">
    <script type="text/javascript" th:src="@{/assets/libs/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/echarts/echartsTheme.js}"></script>
</div>