<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>请您登录 | GemFrame开源权限管理系统v1.0.0</title>
    <!--将title部分修改为对应的页面内容-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="JAVA SpringBoot SpringSecurity GemFrame admin"/>
    <meta name="description" content="基于SpringBoot2.0+的国产优秀的框架&GemFrame开源权限管理系统v1.0.0">
    <meta name="author" content="gemframework.com">
</head>
<body class="bg-login">
<div>
    <form action="login" method="post">
        用户名：<input id="username" name="username" type="text" /><br/>
        密码：<input id="password" name="password" type="password" /><br/>
        <input id="rememberMe" name="rememberMe" type="checkbox"> 记住我
        <input type="submit" value="登录"/>
    </form>
</div>
<script th:inline="javascript">

    $(function () {
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element'], function() {
            var laydate = layui.laydate //日期
                ,laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,table = layui.table //表格
                ,carousel = layui.carousel //轮播
                ,upload = layui.upload //上传
                ,element = layui.element; //元素操作 等等...
            if(top.location.href != self.location.href){
                layer.alert("登录超时，请重新登录！",{
                    closeBtn: 0
                    ,icon: 5
                    ,anim: 4 //动画类型
                },function(){
                    top.location.href=self.location.href;
                });
            }
        });
    });

    function refreshImg() {
        document.getElementById("verifyImg").src="common/code?"+Math.random();
    }
</script>
</body>
</html>
